body{
    background-image: url(/front/imgs/fondo1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

table {
        font-family: cursive;
        border-collapse: collapse;
        margin: 10px;
        border-radius: 20px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

/* ------- LOGIN -------*/

#MAIN-login{
    text-align: center;
    padding: 50px
}

h2{
    color: goldenrod;
}

label{
    color: antiquewhite;
}

.input-login{
    width: 50rem;
    height: 4rem;

    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;

    background-color: antiquewhite;
    color: goldenrod;

    border: 0;
}

#title{
    font-size: 60px;
    margin: 0;
    color: antiquewhite;
}

#inputs-top{
    padding: 1.5rem;
}

#buttons-div{
    padding: 0;
}

#inputs-bottom{
    padding: 1.5rem;
}

button{
    height: 3rem;
    padding: 1rem;
    border-radius: 30px;
    border: darkgoldenrod 3px dashed;
}

#button-login{
    background-color: darkred;
    color: antiquewhite;
}

#button-login:active{
    background-color: red;
}

#button-inv{
    background-color: black;
    color: antiquewhite;
}

#button-inv:active{
    background-color: rgb(54, 54, 54);
}

#button-register{
    background-color: darkred;
    color: antiquewhite;
}

#button-register:active{
    background-color: red;
}

/* ------- ADMIN --------- */

#funciones{
    width: 50%;
    padding: 2rem;
    background-color: antiquewhite;
    border-radius: 20px;
}

hr{
    border: darkred 2px dashed;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#tablas{
    width: 50%;
    padding: 2rem;
    background-color: antiquewhite;
    border-radius: 20px;

    height: 200px;
}

.admin-seccion{
    padding: 1rem;
    background-color: rgb(211, 187, 155);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.input-admin{
    height: 1rem;
    border-radius: 20px;

    border-radius: 40px;
    padding: 5px;
    text-align: center;

    background-color: antiquewhite;
    color: goldenrod;
    
    border: 0;
}

.input-id-admin{
    height: 1rem;
    border-radius: 20px;

    border-radius: 40px;
    padding: 5px;
    text-align: center;
    margin: 1rem;
    margin-left: 0;

    background-color: goldenrod;
    color: antiquewhite;
    
    border: 0;
}